
## <summary>policy for sphinxcoin</summary>


########################################
## <summary>
##	Transition to sphinxcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`sphinxcoin_domtrans',`
	gen_require(`
		type sphinxcoin_t, sphinxcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, sphinxcoin_exec_t, sphinxcoin_t)
')


########################################
## <summary>
##	Execute sphinxcoin server in the sphinxcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sphinxcoin_initrc_domtrans',`
	gen_require(`
		type sphinxcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, sphinxcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search sphinxcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sphinxcoin_search_lib',`
	gen_require(`
		type sphinxcoin_var_lib_t;
	')

	allow $1 sphinxcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read sphinxcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sphinxcoin_read_lib_files',`
	gen_require(`
		type sphinxcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, sphinxcoin_var_lib_t, sphinxcoin_var_lib_t)
')

########################################
## <summary>
##	Manage sphinxcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sphinxcoin_manage_lib_files',`
	gen_require(`
		type sphinxcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, sphinxcoin_var_lib_t, sphinxcoin_var_lib_t)
')

########################################
## <summary>
##	Manage sphinxcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sphinxcoin_manage_lib_dirs',`
	gen_require(`
		type sphinxcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, sphinxcoin_var_lib_t, sphinxcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a sphinxcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`sphinxcoin_admin',`
	gen_require(`
		type sphinxcoin_t;
		type sphinxcoin_initrc_exec_t;
		type sphinxcoin_var_lib_t;
	')

	allow $1 sphinxcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, sphinxcoin_t)

	sphinxcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 sphinxcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, sphinxcoin_var_lib_t)

')

